<ion-view view-title="Nearby Tables">
  <ion-content class="grey-background">
    <div>
      <div ng-click="vm.tablePage(rest)" class="white-background nearby-item" ng-repeat="rest in vm.nearbyEvents">
        <div class="col-25">
          <img src="{{rest.image_url}}"/>
        </div>
        <div class="col-55">
          <div class="restaurant-name">
            {{rest.restaurantName}}
          </div>
          <div class="top-address">
            {{rest.restaurantAddress.address[0]}}
          </div>
          <div>
            {{rest.restaurantAddress.city}}, {{rest.restaurantAddress.state_code}} {{rest.restaurantAddress.postal_code}}
          </div>
        </div>
        <div class="col-15">
          <button class="button button-small button-assertive" ng-click="vm.tablePage(rest)">
            Table Options
          </button>
        </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
