<ion-view>
  <ion-content class="padding text-center">
    <h2>Search Restaurants</h2>
    <div class="list list-inset">
      <form>
        <input type="text"
          name="restaurant"
          placeholder="Restaurant name, category"
          ng-model="vm.restaurant">
        <input type="text"
          name="location"
          placeholder="Location"
          ng-model="vm.location">
      </form>
      <button class="button button-block button-assertive" ng-click="vm.restSearch(vm.restaurant, vm.location)">
        Search
      </button>
    </div>
    <div>
      <div ng-repeat="rest in vm.restResults">
        <h3>{{rest.name}}</h3>
        <p>{{rest.location.address[0]}}, {{rest.location.city}}, {{rest.location.state_code}}, {{rest.location.postal_code}}</p>
        <button class="button button-block button-assertive" ng-click="vm.tablePage(rest)">
          Table Options
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
