<ion-view view-title="Create Table">
  <ion-content class="padding text-center grey-background">
  <!-- Text after angular text is placeholder -->
    <div class="restaurant-name">{{vm.name}}</div>
    <div ng-repeat="line in vm.address">
      {{line}}
    </div>

    <form name="form" novalidate ng-submit="vm.submit()">

      <div class="white-background">

        <label class="item item-input"
          ng-class="{ 'has-errors' : form.$submitted && form.date.$invalid, 'no-errors' : form.$submitted && form.date.$valid}">
          <span class="input-label">Enter Date</span>
          <input name="date" type="date" ng-model="vm.date" required>
        </label>

        <div class="error-container" ng-show="form.$submitted && form.date.$error" ng-messages="form.date.$error">
          <ng-messages-include src="config/error-list.html"></ng-messages-include>
        </div>

        <label class="item item-input"
          ng-class="{ 'has-errors' : form.$submitted && form.time.$invalid, 'no-errors' : form.$submitted && form.time.$valid}">
          <span class="input-label">Enter Time</span>
          <input name="time" type="time" ng-model="vm.time" required>
        </label>

        <div class="error-container" ng-show="form.$submitted && form.time.$error" ng-messages="form.time.$error">
          <ng-messages-include src="config/error-list.html"></ng-messages-include>
        </div>

        <label class="item item-input"
          ng-class="{ 'has-errors' : form.$submitted && form.max.$invalid, 'no-errors' : form.$submitted && form.max.$valid}">
          <span class="input-label">Max People</span>
          <input name="max" type="number" ng-model="vm.max" min="1" required>
        </label>

        <div class="error-container" ng-show="form.$submitted && form.max.$error" ng-messages="form.max.$error">
          <ng-messages-include src="config/error-list.html"></ng-messages-include>
        </div>

        <input type="submit" class="button button-block button-assertive" value="Create Table">

      </div>

    </form>

  </ion-content>
</ion-view>
