<ion-view view-title="My Table">
  <ion-content class="padding text-center">
    <div>
      <div>
        <h3>{{vm.name}}</h3>
        <p class="clickable-address" ng-click="vm.openMaps(
          vm.location.address[0] + ',' +
          vm.location.city + ', ' +
          vm.location.state_code + ', ' +
          vm.location.postal_code)">
          {{vm.location.address[0]}},
          {{vm.location.city}},
          {{vm.location.state_code}},
          {{vm.location.postal_code}}
        </p>
      </div>
    </div>
    <hr/>
    <div class="list list-inset">
      <p>
         {{vm.dateTime | date:"medium"}}.
      </p>
    </div>
    <div>
      <ul ng-repeat="user in vm.users">
        <li>{{user}}<span ng-show='$index == 0'> (creator)</span></li>
      </ul>
    </div>
    <div>
      <input ng-model="vm.message">
      <button ng-click="vm.emitButton(vm.message)">Send message</button>
    </div>
      <h1> Chatroom </h1>
      <div ng-repeat="message in vm.chat">
        {{message.firstName}}: {{message.message}}
      </div>
    </div>
  </ion-content>
</ion-view>
