<ion-view title="Popular">
  <ion-content class="padding grey-background">
    <ion-list>
      <div ng-click="vm.tablePage(restaurant)" class="white-background rest-item"ng-repeat="restaurant in vm.restaurants">
        <div class="col-25">
          <img src="{{restaurant[0].image}}"/>
        </div>
        <div class="col-55">
          <div style="margin-top: 5px;">
            <strong>{{restaurant[0].restaurantName}}</strong>
          </div>
          <div class="top-address">
            {{restaurant[0].address}}
          </div>
          <div>
            {{restaurant[0].city}}, {{restaurant[0].state_code}} {{rest.location.postal_code}}
          </div>
        </div>
        <div class="col-20 text-center">
          <div class="pops">
            {{restaurant[1]}}
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
