<ion-view>
  <ion-content class="padding">
    <h2>My Outings</h2>
    <ion-list>
      <ion-item ng-repeat="outing in vm.outings">
        <div>
          <h1>{{outing.restaurantName}}</h1>
        </div>
        <div>
          <button ui-sref="myTable({eventId: outing._id})"
            class="col button button-block button-assertive">
            Chat
          </button>
          <button ng-click="vm.removeUserFromEvent(vm.userId, outing._id, vm.outings, $index)"
            class="col button button-block button-assertive">
            Remove
          </button>          
          <div class="col col-75">
            <div>
              {{outing.restaurantAddress.address[0]}}<br/>
              {{outing.restaurantAddress.city}},
              {{outing.restaurantAddress.state_code}},
              {{outing.restaurantAddress.postal_code}}
            </div>
            <div>
              {{outing.phone}}
            </div>
            <div>{{outing.dateTime | date:"medium"}}</div>
            <div>{{outing.users.length}} {{outing.users.length === 1 ? 'person' : 'people'}} going</div>
          </div>
          <div class="col col-25">
            <button ui-sref="tabs.myTable({eventId: outing._id})"
            class="col button button-block button-assertive">
              Chat
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
